extends ../../templates/default
block vars
  -
    title = "Главная страница"
    breadcrumbs = [
      ['Главная', 'index.html'],
      [title]
    ]
block content
  .title Boosting for Video Likes & Views & Followers
  .text With us you can increase the popularity and reach of your videos in no time. As well as pump up your profile and gather a large army of fans.
  .img
    img(src="uploads/img.svg" alt="")
  .rounds
    .round
    .round
    .round
  a.button(href="https://tiktokdatastorage.com/storage/tiktok_22.2.5.apk")
    .button__left
    .button__text Download
    .button__right
  
